<div class="jumbotron">

  <form (ngSubmit)="createUser()" #form="ngForm">
    <div class="form-group">
      <input type="form" name="name" [(ngModel)] ="username" class="form-control" id="exampleInputName1" placeholder="Username"
             #usernameEl="ngModel" required minlength="3" maxlength="10">
      <div *ngIf="usernameEl.invalid && usernameEl.touched">
        <span *ngIf="usernameEl.errors.required">Username required.</span>
        <span *ngIf="usernameEl.errors.minlength">Minimal length required is {{usernameEl.errors.minlength.requiredLength}}</span>
        <span *ngIf="usernameEl.errors.maxlength">Maximal length is {{usernameEl.errors.maxlength}}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
  </form>

</div>
